.header {   
     text-align: center;
     background-image: url(../images/cover.jpeg);
     height: 100vh;
     display: flex;
     justify-content: center;
     


     &__icon{
        border: 1px solid $bright-orange;
        background-color: $bright-orange;
        position:fixed;
        padding: 10px;
        top: 0;
        left: 0; 
      
    
    }
     
}
.container{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 10px; 
   align-items: center; 
   margin: auto; 
   gap: 10px;
   padding-bottom: 45px;
  
   
   
  &__title{
    font-family: $font-tall ;
    color: $white;
    font-size: 75px;
    
  }
  &__paragraph {
    font-family: $font-small;
    color: $white;
    font-size: 24px;
    

  }
}

.scrolldown{
    width: 42.5px;
    height: 42.5px;
    background-color: $white;
    border-radius: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 

    
     
 
}




   