.section2{
    background-color: $light-grey;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;  
    padding-top: 49px;
    
      
}

.item1{
    grid-row: 1;
    grid-column: 2;
    font-family: $font-tall;
     width:  450px;

}

.item2{
    grid-row:2;
    &__run{
        font-family: $font-tall;
        font-size: 20px;
    }
}
.item3{
    grid-row: 2;
    grid-column: 2;
    &__level{
        font-family: $font-tall;
        font-size: 20px;
    }

}

.item4{
    grid-row: 2;
    grid-column: 3;

    &__premiun{
        font-family: $font-tall;
        font-size: 20px;
    }
}
.stylep{
   font-family: $font-small;
   font-size: 20px;

}
.buttom2{
    grid-row: 3;
    grid-column: 2;
    background-color: $bright-orange;
    border: 1px solid;
    border-color: $bright-orange;
    border-radius: 500px;
    color: white;
    font-family: $font-small;
    font-size: 20px;
    height: 45px;
    width: 184px;
 

    
    
}


    
