<footer class="footer">
  <img src="./images/ico-arrow.svg" alt="scroll">
  
  <div class="footer__container">

    <p class="copyright">&copy;2023 we<span class="copyright__hearts"> &hearts; </span>run</p>
    <ul class="footer__container--store">
      <li class="links"><a class="links__adalab" href="https://dev.adalab.es/api/form">ZAPATILLAS</a></li>
      <li class="links"><a class="links__adalab" href="https://dev.adalab.es/api/form">ROPA</a></li>
      <li class="links"><a class="links__adalab" href="https://dev.adalab.es/api/form">NIÑO/A</a></li>
      <li class="links"><a class="links__adalab" href="https://dev.adalab.es/api/form">DESTACADOS</a></li>
      <li class="links"><a class="links__adalab" href="https://dev.adalab.es/api/form">TIPS</a></li>
    </ul>
    <ul class="footer__socialmedia">
      <li class="links"><a class="links__adalab" href="https://dev.adalab.es/api/form">TWITTER</a></li>
      <li class="links"><a class="links__adalab" href="https://dev.adalab.es/api/form">INSTAGRAM</a></li>
      <li class="links"><a class="links__adalab" href="https://dev.adalab.es/api/form">YOUTUBE</a></li>
    </ul>
 
  </div>
  
  

</footer>

